@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
@mixin diss () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin vh ($vhh: 100vh) {
    width: 100%;
    height:  $vhh;
 }
@mixin bok () {
     width: 50%;
     height: 100%;
}
@mixin big () {
     width: 100%;
     height: 100%;
}
$HeaderColor: #ACC7E8;
$LogoFirst: #50C1E1;
$Btn: #93C5C2;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none ;
    color: #333333
}
.Paje1{
    @include vh(100vh) ;
    .containerr{
        width: 100%;
        height: 100%;
        background-image: url(../img/Paje1/header/background.png);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        animation-name: paje2__container;
        animation-duration: 2s;
        animation-iteration-count: 1;
        perspective: 1px;
        @keyframes paje2__container {
            0%{
                opacity: 0;
            }
            50%{
                opacity: 0.3;
            }
            51%{
                opacity: 0.6;

            }
            100%{
                opacity: 1;
            }
        }
        }
        .header{
            width: 100%;
            height: 10vh;
            padding: 0 100px;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            
           
        
         .header__left{
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            .logo{
                width: 100.83px;
                height: 49px;
            }
         }
         .header__upprostred{
            width: 65%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            .header__box{
                display: flex;
                align-items: center;
                margin: 35px;
                .header__kolo{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $HeaderColor;
                }
                .header__kolo:hover{
                    filter: hue-rotate(-0.25turn);
                    }
                .header__text{
                    margin-left: 5px;
                    display: inline-block;
                    position: relative;
                    margin-block: 2px;
                    animation-name: textinda;
                    animation-duration: 4s;
                    animation-iteration-count: 1;
                     
                }
                .header__text::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: rgb(214, 235, 255);
                    border-radius: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .25s ease; }
                    .header__text:hover::after {
                    transform: scaleX(1); }
            }
         }
         .header__right{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .header__phone-box{
                display: flex;
                align-items: center;
                .header__phone-img{
                    width: 15px;
                    height: 15px;

                    
                }
                .header__phone-img:hover{
                    filter: hue-rotate(-0.25turn);
                }
                .text__header-phone{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    position: relative;
                    top: 8px;
                    left: 5px;
                    color: #333333;
                }
            }
         }
        }
        .konec{
            width: 100%;
            height: 20vh;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 25px;
            .scrll-down{
                transform: translate(-50%);
            .konec__mouse{
                width: 1.2rem;
                height: 2.5rem;
                border: 2px solid #333333;
                border-radius: 1rem;
                display: flex;
                span{
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: #333333;
                    display: block;
                    border-radius: 50%;
                    margin: auto;
                    animation: mouse .8s linear infinite ;
                    @keyframes mouse {
                        0%{
                            opacity: 0;
                            transform: translateY(-0.5rem);
                        }
                        100%{
                            opacity: 1;
                            transform: translateY(0.5rem);
                        }
                    }
                }
            }
        }
        }
        .main{
            width: 100%;
            height: 70vh;
            display: flex;
            .left__main{
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .Left__main-Leaf{
                    margin-top: 10em;
                    margin-right: 5em;
                    animation-name: LeaftLeaf;
                    animation-duration: 35s;
                    animation-iteration-count: 1;
                    z-index: 999;
                    @keyframes LeaftLeaf {
                        0%{
                            position: relative;
                            left: 5em;
                            top: 0.5em;
                            transform: rotate(10deg);
                        }

                        100%{
                            position: relative;
                            left: 60em;
                            top: 110em;
                            transform: rotate(360deg);
                            will-change: auto;
                        }
 
                    }
                }
            }
            .upprostred__main{
                width: 60%;
                height: 100%;
                @include diss();
                .text__main{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 44px;
                    letter-spacing: 0.045em;
                    color: #333333;
                    z-index: 5;
                    animation-name: textmain__header;
                    animation-duration: 2s;
                    animation-iteration-count: 1;
                    perspective: 1px;
                    @keyframes textmain__header {
                        0%{
                            opacity: 0;
                        }
                        50%{
                            opacity: 0;
                        }
                        51%{
                            opacity: 0.1;
                            position: relative;
                            right: 100px;
                        }
                        100%{
                            opacity: 1;
                            position: relative;
                            right: 0;
                        }
                    }
                }
            }
            .right__main{
                width: 20%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .Right__main-Laeftop{
                    width: 55px;
                    height: 50px;
                    animation-name: Leaftop;
                    animation-duration: 45s;
                    animation-iteration-count: 1;
                    z-index: 999;
                    @keyframes Leaftop {
                        0%{
                            position: relative;
                            right: 15em;
                            top: 0.5em;
                            transform: rotate(10deg);
                        }

                        100%{
                            position: relative;
                            right: 70em;
                            top: 110em;
                            transform: rotate(360deg);
                            will-change: auto;
                        }
 
                    }
                }
                .Right__main-Laeftbottom{
                    width: 55px;
                    height: 50px;
                    animation-name: Leafbootom;
                    animation-duration: 45s;
                    animation-iteration-count: 1;
                    z-index: 999;
                    @keyframes Leafbootom {
                        0%{
                            position: relative;
                            left: 2em;
                            top: 0.5em;
                            transform: rotate(10deg);
                        }

                        100%{
                            position: relative;
                            left: 5em;
                            top: 110em;
                            transform: rotate(360deg);
                            will-change: auto;
                        }
 
                    }
                }
            }
        }
        }
    
.Paje2{
    width: 100%;
    height: 80vh;
    display: flex;
    .Paje2__left{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation-name: LeafLeaftPaje2;
        animation-duration: 30s;
        animation-iteration-count: 1;
        z-index: 999;
        @keyframes LeafLeaftPaje2 {
            0%{
                position: relative;
                left: 1em;
                top: 0.5em;
                transform: rotate(10deg);
            }

            100%{
                position: relative;
                left: 70em;
                top: 100em;
                transform: rotate(360deg);
                will-change: auto;
            }

        }
    }
    .Paje2__right{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 21.5%;
        padding-top: 120px;
        .Paje2__titel{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            color: #333333;
        }
        .Paje2__description{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            text-align: center;
            color: #777777;
            margin-top: 20px;
        }
        .Paje2__box{
            width: 100%;
            height:  139px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .Paje2__box-main{
            width: 100px;
            height: 140px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .Paje2__kolo{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #FFFFFF;
                box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
                z-index: 5;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                .Paje2__photo{
                    filter: hue-rotate(0);
                }
                  .Paje2__photo:hover{
                    filter: hue-rotate(-0.25turn);
                }
            }
            .Paje__text-box{
                font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #777777;
                    margin-top: 15px;
                    text-align: center;
            }
            }
        }
    }
}
.Paje3{
    width: 100%;
    height: 80vh;
    display: flex;
    .Paje3__left{
        width: 55%;
        height: 100%;
    padding-top: 120px;
    padding-left: 100px;
    .Paje3__titel{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.035em;
        color: #333333;
        z-index: 5;
    }
    .Paje3__description{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #777777;
        margin-top: 20px;
        z-index: 5;
    }
    .Paje3__btn{
        width: 192px;
        height: 48px;
        background: #93C5C2;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        border: none;
        margin-top: 35px;
        transition: 1s;
        z-index: 5;
    }
    .Paje3__btn1{
        width: 100px;
        height: 30px;
        background: #93C5C2;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        border: none;
    }
    .Paje3__btn1:hover{
        background-color: #FFA552;
        transition: 0.2s;
    }
    .Paje3__btn:hover{
        background-color: #FFA552;
        transition: 0.2s;
    }
    .Paje__textboost2{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #777777;
text-align: center;
    }
    .sociable__bootstap{
        display: flex;
        justify-content: center;
        .bootstrap__sociable{
            width: 35px;
            height: 35px;
            margin: 10px;
        }
        .bootstrap__sociable:hover{
            filter: hue-rotate(190deg);
            transition: 0.5s;
        }
    }
    #staticBackdrop{
      margin-top: 120px;
    }
    .modal-header h5{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        font-family: 'Montserrat';
            font-weight: 300;
            color: #333333;

    }
.Paje3__bootstpaPhone{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
    text-align: center;
span a{
   color: #50C1E1 ;
}
    }
    }
    .Paje3__right{
        width: 45%;
        height: 100%;
    padding-top: 120px;
    display: flex;
    justify-content: flex-end;
    .Paje3__box{
        width: 90%;
        height: 90%;
        background: #E8F4F4;
        border-radius: 20px 0px 0px 20px;
        display: flex;
        z-index: 5;
        .Paje3__box-left{
            width: 95%;
            height: 100%;
            .Paje3__bissets{
                position: relative;
                right: 30px;
                top: 50px;
                z-index: 5;
            }
        }
        .Paje3__box-right{
            width: 5%;
            height: 100%; 
            display: flex; 
            align-items: flex-start;
            position: relative;
            right: 80px;
            .Paje3__buterflu{
                position: relative;
                bottom: 70px;
                right: 50px;
            }
        }
    }
 }
}
.Paje4{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Paje5{
    width: 100%;
    height: 100vh;
    background-color: #E8F4F4;
    margin-top: 50px;
    display: flex;
    .Paje5__left{
        width: 5%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .left__foorest{
            position: relative;
            left: 55px;
        }
    }
    .Paje5__upprostred{
        width: 90%;
        height: 100%;
        .upprostred__top{
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 55px;
            .Paje5__texttitel{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 44px;
                color: #333333;
            }
            .Paje5__description{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #333333;
                margin-top: 15px;
            }
        }
        .upprostred__boottom{
            width: 100%;
            height: 70%;
            display: flex;
            .Paje5__aqulity-box{
                width: 33.333%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 15px;
                padding-top: 70px;
                .Paje5__boxing{
                    width: 100px;
                    height: 100px;
                    background: #FFFFFF;
                    box-shadow:
                    0px 4px 32px rgba(0, 0, 0, 0.25);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .Paje5__imgBoging{
                        width: 60px;
                        height: 60px;
                    }
                }
                .Paje5__text-littel{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #333333;
                    margin-top: 15px;

                }
                .Paje5__text-aqulity{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #777777;
                    margin-top: 10px;
                }
            }
            .Paje5__experiense-box{
                width: 33.333%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                padding-bottom: 80px;
                .Paje5__boxing{
                    width: 100px;
                    height: 100px;
                    background: #FFFFFF;
                    box-shadow:
                    0px 4px 32px rgba(0, 0, 0, 0.25);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .Paje5__imgBoging{
                        width: 60px;
                        height: 60px;
                    }
                }
                .Paje5__text-littel{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #333333;
                    margin-top: 15px;

                }
                .Paje5__text-aqulity{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #777777;
                    margin-top: 10px;
                }
            }
            .Paje5__recomdend-box{
                width: 33.333%;
                height: 100%;  
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 15px;
                padding-top: 70px; 
                .Paje5__boxing{
                    width: 100px;
                    height: 100px;
                    background: #FFFFFF;
                    box-shadow:
                    0px 4px 32px rgba(0, 0, 0, 0.25);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .Paje5__imgBoging{
                        width: 60px;
                        height: 60px;
                    }
                }
                .Paje5__text-littel{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #333333;
                    margin-top: 15px;

                }
                .Paje5__text-aqulity{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    color: #777777;
                    margin-top: 10px;
                }
            }
            }
        }
    }
    .Paje5__right{
        width: 5%;
        height: 100%;
        padding-top: 55px;
        display: flex;
        justify-content: flex-end;
        .right__list{
            width: 175px;
            height: 226px;
            
        }
    }
.Paje6{
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    .Paje6__textLeft{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
    }
    .Paje6__textCenter{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #0F598E;

    }
    .Page6__textRight{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        .Paje6__textCreator{
            color: #ACC7E8;
            transition: 0.6;
        }
        .Paje6__textCreator:hover{
            color: #FFA552;
            transition: 0.4;
        }
    }
}
footer{
    width: 100%;
    height: 35vh;
    background-color: #E8F4F4;
    display: flex;
    .foooter__leaft{
        width: 25%;
        height: 100%;
        padding-top: 50px;
        padding-left: 120px;
        .left__sociable-box{
            width: 150px;
            height: 40px;
            display: flex;
            align-items: center;
            margin-top: 35px;
            .sociable__keyframe:hover{
                filter: hue-rotate(190deg);
                transition: 0.5s;
            }
            .footer__sociable-instagram {
                margin-left: 15px;
            }
        }
    }
    .footer__contact-info{
        width: 25%;
        height: 100%;
        padding-top: 50px;
        .contact__decription{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #333333;
        }
        .contact__box-location{
            width: 403px;
            height: 30px;
            display: flex;
            align-items: center;
            margin-top: 20px;
            .footer__phonetext{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                color: #777777;
                margin-left: 5px;
                display: inline-block;
                position: relative;
                margin-block: 2px;
                cursor: pointer;
            }
            .footer__phonetext::after {
                content: '';
                width: 100%;
                height: 2px;
                background-color: rgba(209, 209, 209, 0.6);
                border-radius: 4px;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .30s ease; }
                .footer__phonetext:hover::after {
                transform: scaleX(1); }
        }
        .contact__box{
            width: 200px;
            height: 30px;
            display: flex;
            align-items: center;
            margin-top: 25px;
            .footer__phonetext{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                color: #777777;
                margin-left: 5px;
                display: inline-block;
                position: relative;
                margin-block: 2px;
                cursor: pointer;
            }
            .footer__phonetext::after {
                content: '';
                width: 100%;
                height: 2px;
                background-color: rgba(209, 209, 209, 0.6);
                border-radius: 4px;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .30s ease; }
                .footer__phonetext:hover::after {
                transform: scaleX(1); }
        }
    }
    .footer__center{
        width: 25%;
        height: 100%;
        padding-top: 35px;
        padding-left: 70px;
        .center__site-box{
            display: flex;
            align-items: center;
            margin-top: 10px;
            .footer__kolo{
                width: 18px;
                height: 18px;
                background: #ACC7E8;
                border-radius: 50%;
                
            }
            .site__box-compani{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #333333;
                margin-left: 5px;
                position: relative;
                top: 7px;
            }
        }
    }
    .footer__right{
        width: 20%;
        height: 100%;
        padding-top: 50px;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .footer__btn{
            width: 148px;
            height: 41px;
            background: #93C5C2;
            border-radius: 20px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            transition: 1s;
        }
        .footer__btn:hover{
            background-color: #FFA552;
            transition: 0.4s;
        }
        .right__text-contact{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            text-align: right;
            color: #777777;
            margin-top: 20px;

        }
    }
    .footer__buterflue{
        width: 5%;
        height: 100%;
        .footer__buterfluuue{
            position: relative;
            right: 30px;
            bottom: 35px;
        }
    }
}
.footer__phone{
    width: 100%;
    height: 55vh;
    background-color: #E8F4F4;
    .footer__wer{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;

    }
    .footer__konec{
        width: 100%;
        height: 70%;
        display: flex;
        .right__konec{
            width: 20%;
            height: 100%;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 100px;
            .left__sociable-box1{
                display: flex;
                align-items: center;
                margin-top: 35px;
                .footer__sociable-instagram {
                    margin-left: 15px;
                }
                .sociable__keyframe22{
                    width: 35px;
                    height: 35px;
                }
            }
            .footer__btn{
                width: 148px;
                height: 41px;
                background: #93C5C2;
                border-radius: 20px;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 15px;
                color: #FFFFFF;
                transition: 1s;
            }
            .footer__btn:hover{
                background-color: #FFA552;
                transition: 0.4s;
            }
            .right__text-contact{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 15px;
                text-align: right;
                color: #777777;
                margin-top: 20px;
    
            }
        }
            .center__konec{
                width: 40%;
                height: 100%;
                padding-top: 40px;
                padding-left: 60px;
                .center__site-box{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    .footer__kolo{
                        width: 18px;
                        height: 18px;
                        background: #ACC7E8;
                        border-radius: 50%;
                        
                    }
                    .site__box-compani{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        color: #333333;
                        margin-left: 5px;
                        position: relative;
                        top: 7px;
                    }
                }
            }
            .leaft__konec{
                width: 40%;
                height: 100%;
                padding-left: 100px;
                padding-top: 60px;
            .contact__decription{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #333333;
            }
            .contact__box-location{
                width: 403px;
                height: 30px;
                display: flex;
                align-items: center;
                margin-top: 20px;
                .footer__phonetext{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    color: #777777;
                    margin-left: 5px;
                    display: inline-block;
                    position: relative;
                    margin-block: 2px;
                    cursor: pointer;
                }
                .footer__phonetext::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: rgba(209, 209, 209, 0.6);
                    border-radius: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .30s ease; }
                    .footer__phonetext:hover::after {
                    transform: scaleX(1); }
            }
            .contact__box{
                width: 200px;
                height: 30px;
                display: flex;
                align-items: center;
                margin-top: 25px;
                .footer__phonetext{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 24px;
                    color: #777777;
                    margin-left: 5px;
                    display: inline-block;
                    position: relative;
                    margin-block: 2px;
                    cursor: pointer;
                }
                .footer__phonetext::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: rgba(209, 209, 209, 0.6);
                    border-radius: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .30s ease; }
                    .footer__phonetext:hover::after {
                    transform: scaleX(1); }
            }
        }
    }
}














.footer__phone{
    display: none;
}
.header__phoneBoxPhone{
    display: none;
}


.header__text1{
position: relative;
top: 10px;
}
.header__box{
        display: flex;
        align-items: center;
        margin: 35px;
}
.header__kolo{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color:#ACC7E8 ;
        }
.header__text{
            margin-left: 5px;
            display: inline-block;
            position: relative;
            margin-block: 2px;
            animation-name: textinda;
            animation-duration: 4s;
            animation-iteration-count: 1;
            cursor: pointer;
            font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
             
        }
.Menu__bootstrap{
display: none;
position: relative;
bottom: 2px;
margin-left: 10px;
width: 35px;
height: 35px;
}
.header__text1{
display: none;
}
.btn-close{
position: relative;
bottom: 100px;
}
.offcanvas{
width: 500px;
}
@media screen and (max-width:1510px){
    @keyframes LeaftLeaf {
        0%{
            position: relative;
            left: 5em;
            top: 0.5em;
            transform: rotate(10deg);
        }
    
        100%{
            position: relative;
            left: 45em;
            top: 110em;
            transform: rotate(360deg);
            will-change: auto;
        }
    
    }
    @keyframes Leaftop {
        0%{
            position: relative;
            right: 15em;
            top: 0.5em;
            transform: rotate(10deg);
        }
    
        100%{
            position: relative;
            right: 50em;
            top: 110em;
            transform: rotate(360deg);
            will-change: auto;
        }
    
    }
    @keyframes Leafbootom {
        0%{
            position: relative;
            right: 2em;
            top: 0.5em;
            transform: rotate(10deg);
        }
    
        100%{
            position: relative;
            right: 10em;
            top: 110em;
            transform: rotate(360deg);
            will-change: auto;
        }
    
    }
    @keyframes LeafLeaftPaje2 {
        0%{
            position: relative;
            left: 1em;
            top: 0.5em;
            transform: rotate(10deg);
        }
    
        100%{
            position: relative;
            left: 50em;
            top: 100em;
            transform: rotate(360deg);
            will-change: auto;
        }
    
    }
}
@media screen and (max-width:1350px){
   
.Paje1 .containerr .main .upprostred__main .text__main{
font-size: 30px;
} 
.Paje3 .Paje3__right .Paje3__box .Paje3__box-left .Paje3__bissets {
  position: relative;
  right: 50px;
  top: -10px;}

  footer .foooter__leaft{
    width: 20%;
    padding-left: 100px;
  }
  footer .footer__center{
    width: 30%;
    padding-left: 100px;
  }
  footer .footer__contact-info {
    padding-left: 30px;
  }

}
@media screen and (max-width:1300px){
footer .foooter__leaft .left__sociable-box .sociable__keyframe{
width: 30px;
height: 30px;
}
footer .foooter__leaft .left__sociable-box{
margin-top: 20px;
}
footer .footer__contact-info .contact__decription{
font-size: 18px;
}
footer .footer__contact-info .contact__box-location .footer__phonetext {
font-size: 16px;
}
footer .footer__contact-info .contact__box .footer__phonetext{
font-size: 16px;
}
footer .footer__center .center__site-box .site__box-compani{
font-size: 18px;
}

}

@media screen and (max-width:1250px){
.Paje1 .containerr .header .header__upprostred .header__box .header__text{
font-size: 14px
}

.Paje5__right .right__list {
width: 150px;
height: 200px;
}
.Paje5__right {
width: 5%;
height: 100%;
padding-top: 55px;
display: flex;
justify-content: flex-start; }
.Paje5__right .right__list {
width: 175px;
height: 226px; }

.Paje3 .Paje3__right .Paje3__box .Paje3__box-left .Paje3__bissets {
  position: relative;
  right: 50px;
  top: -10px;}

  .Paje6 .Paje6__textLeft{
    font-size: 14px;
  }
  .Paje6 .Paje6__textCenter{
    font-size: 14px;
  }
  .Paje6 .Page6__textRight {
    font-size: 14px;
  }

}
@media screen and (max-width:1150px){

    @keyframes LeafLeaftPaje2 {
        0%{
            position: relative;
            left: 1em;
            top: 0.5em;
            transform: rotate(10deg);
        }

        100%{
            position: relative;
            left: 30em;
            top: 100em;
            transform: rotate(360deg);
            will-change: auto;
        }
}
footer{
display: none;
}


.footer__phone{
display: flex;
flex-direction: column;
}
.Paje1 .containerr .header{
padding: 0 65px;
}
.Paje3 .Paje3__left{
padding-left: 65px;
width: 60%;
}
.Paje3 .Paje3__right{
width: 45%;
}
.Paje3__description{
font-size: 18px;
}
.Paje3 .Paje3__left .Paje3__titel{
font-size: 30px;
}

.Paje5 .Paje5__left .left__foorest{
width: 200px;
height: 200px;
position: relative;
left: 20px;
}
.Paje5 .Paje5__left{
width: 4%;
}
}
.Paje5__right {
width: 5%;
display: flex;}
.Paje5__right .right__list {
width: 150px;
height: 200px;
}




@media screen and (max-width:1120px){
.Paje1 .containerr .main .upprostred__main .text__main{
font-size: 28px;
} 

.Paje2 .Paje2__right .Paje2__titel {
font-size: 28px;
}
.Paje2 .Paje2__right .Paje2__description{
font-size: 16px;
margin-top: 1px;
}
.Paje2 .Paje2__right{
width: 95%;
z-index: 10;
}
.Paje2 .Paje2__left {
z-index: 7;
}

.Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje2__kolo{
width: 80px;
height: 80px;
}
.Paje2__photo{
width: 50px;
height: 50px;
}
.Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje__text-box{
font-size: 14px ;
}

.Paje2__leaf{
width: 50px;
height: 48px;
}

.Paje5 .Paje5__upprostred .upprostred__top .Paje5__texttitel {
font-size: 30px;
}

.Paje5 .Paje5__upprostred .upprostred__top .Paje5__description {
font-size: 16px;
}

.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__boxing{
width: 80px;
height: 80px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__boxing{
width: 80px;
height: 80px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__boxing{
width: 80px;
height: 80px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__boxing .Paje5__imgBoging{
width: 40px;
height: 40px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__boxing .Paje5__imgBoging {
width: 40px;
height: 40px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__boxing .Paje5__imgBoging{
width: 40px;
height: 40px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__text-aqulity {
font-size: 16px;
margin-top: -5px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__text-aqulity{
font-size: 16px;
margin-top: -5px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__text-aqulity{
font-size: 16px;
margin-top: -5px;

}

.Paje5__right {
width: 10%;
background-color: #E8F4F4; }
.Paje6 .Paje6__textCenter {
display: none;
}
}

@media screen and (max-width:1080px){
.Paje1 .containerr .main .upprostred__main {
width: 80%;
}
.Paje1 .containerr .header .header__right .header__phone-box .text__header-phone{
font-size: 14px;
}
.Paje1 .containerr .header{
padding: 0 35px;
}
.Paje3 .Paje3__left{
padding-left: 35px;
padding-right: 35px;
width: 100%;

}
.Paje3 .Paje3__right .Paje3__box .Paje3__box-right{
display: none;
}
.Paje3 .Paje3__right .Paje3__box .Paje3__box-left{
width: 100%;
}

.Paje3 .Paje3__left .Paje3__btn{
font-size: 14px;
}
.Paje3 .Paje3__right{
display: none;
}
.Paje4{
display: none;
}

.footer__konec{
display: flex;
flex-direction: column;
}
.footer__phone .footer__konec .right__konec {
width: 100%;
height: 30%;
padding-top: 20px;
padding-left: 0px;
padding-right: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
align-items: center;
}
.footer__phone .footer__konec .center__konec {
width: 100%;
height: 40%;
padding-top: 30px;
padding-left: 0px;
padding-right: 0px;
display: flex;
flex-direction: column;
align-items: center;

}
.footer__phone .footer__konec .leaft__konec{
width: 100%;
height: 30%;
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
display: flex;
flex-direction: column;
align-items: center;

}
.footer__phone{
height: 120vh;
display: flex;
flex-direction: column;
align-items: center;
}

.footer__phone .footer__konec .leaft__konec .contact__decription {
text-align: center;
}
.footer__phone .footer__konec .leaft__konec .contact__box {
display: flex;
justify-content: center;
}
.footer__contact-info{
display: flex;
flex-direction: column;
align-items: center;
}

.footer__phone .footer__konec .leaft__konec .contact__box-location{
display: flex;
align-items: center;
position: relative;
left: 25px;
}
.footer__phone .footer__wer{
padding-top: 30px;
height: 20%;
}
.footer__phone .footer__konec{
height: 80%;
}
}
@media screen and (max-width:1010px){
.Paje1 .containerr .main .left__main .Left__main-Leaf{
width: 50px;
height: 48px;
}
.Paje1 .containerr .main .right__main .Right__main-Laeftop{
width: 48px;
height: 46px;
}
.Paje1 .containerr .header .header__upprostred{
width: 80%;
}
}
@media screen and (max-width:960px){
.Menu__bootstrap{
display: flex;
flex-direction: column;
}
.Paje1 .containerr .header .header__upprostred{
width: 40%;
}
.Paje1 .containerr .header .header__upprostred .header__box{
display: none;
}
.header__text1{
display: flex;
}
.Paje1 .containerr .header .header__left{
width: 20%;
}
.Paje1 .containerr .header .header__right{
width: 40%;
display: flex;
justify-content: space-around;
}
.Paje2 .Paje2__right .Paje2__description{
font-size: 14px;
}
.Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje__text-box{
font-size: 12px ;
}
@keyframes Leaftop {
    0%{
        position: relative;
        right: 15em;
        top: 0.5em;
        transform: rotate(10deg);
    }

    100%{
        position: relative;
        right: 40em;
        top: 110em;
        transform: rotate(360deg);
        will-change: auto;
    }

}
}

@media screen and (max-width:930px){
.Paje1 .containerr .main .upprostred__main {
width: 70%;
}
.Paje1 .containerr .main .left__main {
width: 15%;
display: flex;
justify-content: flex-end;
}
.Paje1 .containerr .main .right__main {
width: 15%;
}
.header__logoglogo{
width: 90px;
height: 45px;
}
}
@media screen and (max-width: 890px){
.Paje1 .containerr .main .upprostred__main {
width: 100%;
}
.Paje1 .containerr .main .left__main {
display: none;
}
.Paje1 .containerr .main .right__main {
display: none;
}
.Paje2 .Paje2__right{
width: 100%;
}
.Paje2 .Paje2__left {
display: none;
}
.Paje2 .Paje2__right{
padding-right: 0%;
}
.Paje2 .Paje2__right .Paje2__box{
justify-content: center;
}
.Paje2 .Paje2__right .Paje2__box .Paje2__box-main {
margin: 5px;
}
.Paje5__right {
display: none; }
.Paje5 .Paje5__left{
display: none;
}

.Paje5 .Paje5__upprostred {
width: 100%;
}
.Paje6 .Paje6__textLeft {
font-size: 12px;
}
.Paje6 .Page6__textRight {
font-size: 12px;
}
}
@media screen and (max-width: 790px){
.offcanvas{
width: 400px;
}
.header__text1{
display: none;
}


.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box{
padding-top: 50px;
}

.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box {
padding-bottom: 40px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box{
padding-top: 50px;
}

.Paje5{
height: 90vh;
}

.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__text-littel{
font-size: 18px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__text-littel {
font-size: 18px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__text-littel{
font-size: 18px;
}

}

@media screen and (max-width: 730px){
.Paje1 .containerr .main .upprostred__main .text__main{
font-size: 24px;
} 
.Paje3 .Paje3__left .Paje3__titel{
font-size: 24px;
}
.Paje3 .Paje3__left .Paje3__description{
font-size: 14px;
}
.Paje3 .Paje3__left .Paje3__btn{
width: 130px;
height: 40px;
font-size: 10px;
}

.Paje5 .Paje5__upprostred .upprostred__top .Paje5__texttitel{
font-size: 24px;
}
.Paje5 .Paje5__upprostred .upprostred__top .Paje5__description{
font-size: 14px;
margin-top: 1px;
}

.Paje6{
min-height: 10vh;
padding-top: 15px;
}
.footer__phone .footer__konec .leaft__konec .contact__decription{
font-size: 18px;
}
.footer__phone .footer__konec .leaft__konec .contact__box .footer__phonetext{
font-size: 16px;
}
.footer__phone .footer__konec .leaft__konec .contact__box-location .footer__phonetext{
font-size: 16px;
}
.footer__phone .footer__konec .center__konec .center__site-box .site__box-compani{
font-size: 16px;
}

}
@media screen and (max-width: 640px){
.Paje1 .containerr .main .upprostred__main .text__main{
font-size: 22px;
} 
.Paje3 .Paje3__left {
padding-top: 80px;
}

.Paje3{
height: 60vh;
}


.header__logoglogo{
width: 90px;
height: 45px;
}
.Menu__bootstrap{
width: 35px;
height: 35px
}
.offcanvas{
width: 320px;
}
.header__box{
margin: 0px;
}
.header__text{
font-size: 12px;
}
.header__phoneBoxPhone{
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid #ACC7E8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    animation-name: phone ;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    

}
.header__phoneBoxPhoneimg{
width: 15px;
height: 15px;
animation-name: phone1;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
.header__phone-img{
display: none;
}
.text__header-phone{
display: none;
}
.Paje1 .containerr .header .header__right{
display: flex;
justify-content: flex-end;

}
.scrll-down{
display: none;
}


.Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje2__kolo{
width: 60px;
height: 60px;
}
.Paje2__photo{
width: 40px;
height: 40px;
}
.Paje2__box{
margin-top: 30px;
}
.Paje2 .Paje2__right .Paje2__box .Paje2__box-main {
margin: -5px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__text-aqulity {
font-size: 12px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__text-aqulity{
font-size: 12px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__text-aqulity{
font-size: 12px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__text-littel{
font-size: 16px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__text-littel {
font-size: 16px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__text-littel{
font-size: 16px;
}

.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__boxing{
width: 60px;
height: 60px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__boxing{
width: 60px;
height: 60px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__boxing{
width: 60px;
height: 60px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__boxing .Paje5__imgBoging{
width: 40px;
height: 40px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__boxing .Paje5__imgBoging {
width: 40px;
height: 40px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__boxing .Paje5__imgBoging{
width: 40px;
height: 40px;
}
.Paje5 .Paje5__upprostred .upprostred__top{
padding-left: 35px;
padding-right: 35px;
}
.Paje2 .Paje2__right .Paje2__description{
padding-left: 35px;
padding-right: 35px;
}

.Paje6 .Page6__textRight{
display: none;
}


}
@media screen and (max-width: 560px){
.Paje1 .containerr .main .upprostred__main .text__main{
font-size: 20px;
} 
.Paje3 .Paje3__left{
padding-top: 10px;
}


.Paje5 .Paje5__upprostred .upprostred__boottom{
display: flex;
flex-direction: column;
align-items: center;
}
.Paje5{
height: 140vh;
}

.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box{
padding-top: 15px;
width: 100%;
position: relative ;
bottom: 50px;

}

.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box {
padding-bottom: 10px;
width: 100%;
position: relative ;
bottom: 50px;
}
.Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box{
padding-top: 15px;
width: 100%;
position: relative ;
bottom: 50px;
}

.footer__phone .footer__konec .center__konec{
padding-top: 1px;
}
.footer__phone .footer__konec .right__konec{
padding-top: 1px;
}
.footer__phone{
height: 100vh;
}
.footer__phone .footer__konec .leaft__konec .contact__box-location {
display: none;
}
.footer__phone .footer__konec .leaft__konec{
height: 25%;
}
}
@media screen and (max-width: 430px){
.Paje1 .containerr .main .upprostred__main .text__main{
font-size: 16px;
} 
.offcanvas{
width: 100%;
}
.header__kolo{
display: none;
}
.header__text{
/* position: relative;
top: 250px;
left: 11%; */
font-size: 24px ;
text-align: center;
margin: 30px;
}
.offcanvas-title{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 50%;
padding-left: 5%;
}
.btn-close{
position: relative;
bottom: 200px;
}
.Paje2{
height: 50vh;
}

.Paje2__right{
padding-top: 60px;
}
.Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje2__kolo{
width: 50px;
height: 50px;
}
.Paje2__photo{
width: 30px;
height: 30px;
}
.Paje3 .Paje3__left #staticBackdrop{
width: 350px;
margin-left: 30px;
margin-top: 200px;
}
.Paje3 .Paje3__left{
padding-top: 160px;
}
.Paje5 {
margin-top: 260px;
}
.Paje5 .Paje5__upprostred .upprostred__top .Paje5__texttitel{
text-align: center;
}




}
@media screen and (max-width: 360px){
.Paje1 .containerr .main .upprostred__main .text__main{
font-size: 14px;
} 
.Paje2 .Paje2__right .Paje2__description{
font-size: 13px;
}
.header__text::after {
display: none;
}
.header__text:hover{

filter: blur(1px);
}
.Paje2{
height: 55vh;
}
.Paje3 .Paje3__left .Paje3__description {
font-size: 13px;
}
.Paje3 .Paje3__left #staticBackdrop{
width: 330px;
margin-left: 15px;
margin-top: 180px;
}
.Paje2 .Paje2__right .Paje2__box{
margin-top: 20px;
width: 95%;
}
.Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje2__kolo{
width: 50px;
height: 50px;
}
.Paje6 .Paje6__textLeft {
text-align: center;
}
}


        .header__text::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: rgb(214, 235, 255);
            border-radius: 4px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .25s ease; }
            .header__text:hover::after {
                transform: scaleX(1); }
                a{
                    text-decoration: none;
                }

@keyframes phone {
0%{
position: relative;
top: 1px;
filter: hue-rotate(5deg);
}   
5%{
position: relative;
top: 2px;
filter: hue-rotate(35deg);

}   
10%{
position: relative;
bottom: 1px;
filter: hue-rotate(85deg);

}   
15%{
position: relative;
bottom: 2px;
filter: hue-rotate(205deg);

}  
100%{ 
filter: hue-rotate(360deg);
}


}

::-webkit-scrollbar {
    width: 14px;
}


::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(69,173,255,1) 0%, rgba(11,116,218,1) 100%);
    border-radius: 10px 0px 10px 0px;
    -webkit-border-radius:  10px 0px 10px 0px;
    -moz-border-radius:  10px 0px 10px 0px;
    -ms-border-radius:10px 0px 10px 0px ;
    -o-border-radius: 10px 0px 10px 0px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: #0f4fae;
}
