@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #333333; }

.Paje1 {
  width: 100%;
  height: 100vh; }
  .Paje1 .containerr {
    width: 100%;
    height: 100%;
    background-image: url(../img/header/background.png);
    background-size: cover; }
  .Paje1 .header {
    width: 100%;
    height: 10vh;
    padding: 0 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between; }
    .Paje1 .header .header__left {
      width: 15%;
      height: 100%;
      display: flex;
      align-items: center; }
      .Paje1 .header .header__left .logo {
        width: 100.83px;
        height: 49px; }
    .Paje1 .header .header__upprostred {
      width: 65%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #333333; }
      .Paje1 .header .header__upprostred .header__box {
        display: flex;
        align-items: center;
        margin: 35px; }
        .Paje1 .header .header__upprostred .header__box .header__kolo {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #ACC7E8; }
        .Paje1 .header .header__upprostred .header__box .header__text {
          margin-left: 5px;
          display: inline-block;
          position: relative;
          margin-block: 2px;
          animation-name: textinda;
          animation-duration: 4s;
          animation-iteration-count: 1; }
        .Paje1 .header .header__upprostred .header__box .header__text::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: #d6ebff;
          border-radius: 4px;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform .25s ease; }
        .Paje1 .header .header__upprostred .header__box .header__text:hover::after {
          transform: scaleX(1); }
    .Paje1 .header .header__right {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .Paje1 .header .header__right .header__phone-box {
        display: flex;
        align-items: center; }
        .Paje1 .header .header__right .header__phone-box .header__phone-img {
          width: 15px;
          height: 15px; }
        .Paje1 .header .header__right .header__phone-box .text__header-phone {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          position: relative;
          top: 8px;
          left: 5px;
          color: #333333; }
  .Paje1 .konec {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 25px; }
    .Paje1 .konec .scrll-down {
      transform: translate(-50%); }
      .Paje1 .konec .scrll-down .konec__mouse {
        width: 1.2rem;
        height: 2.5rem;
        border: 2px solid #333333;
        border-radius: 1rem;
        display: flex; }
        .Paje1 .konec .scrll-down .konec__mouse span {
          width: 0.5rem;
          height: 0.5rem;
          background-color: #333333;
          display: block;
          border-radius: 50%;
          margin: auto;
          animation: mouse 0.8s linear infinite; }
@keyframes mouse {
  0% {
    opacity: 0;
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translateY(0.5rem); } }
  .Paje1 .main {
    width: 100%;
    height: 70vh;
    display: flex; }
    .Paje1 .main .left__main {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .Paje1 .main .left__main .Left__main-Leaf {
        margin-top: 10em;
        margin-right: 5em;
        animation-name: LeaftLeaf;
        animation-duration: 15s;
        animation-iteration-count: 1; }
    .Paje1 .main .upprostred__main {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .Paje1 .main .upprostred__main .text__main {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.045em;
        color: #333333; }
    .Paje1 .main .right__main {
      width: 20%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .Paje1 .main .right__main .Right__main-Laeftop {
        width: 55px;
        height: 50px; }
      .Paje1 .main .right__main .Right__main-Laeftbottom {
        width: 55px;
        height: 50px; }

.Paje2 {
  width: 100%;
  height: 80vh;
  display: flex; }
  .Paje2 .Paje2__left {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .Paje2 .Paje2__right {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 21.5%;
    padding-top: 120px; }
    .Paje2 .Paje2__right .Paje2__titel {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #333333; }
    .Paje2 .Paje2__right .Paje2__description {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 29px;
      text-align: center;
      color: #777777;
      margin-top: 20px; }
    .Paje2 .Paje2__right .Paje2__box {
      width: 100%;
      height: 139px;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .Paje2 .Paje2__right .Paje2__box .Paje2__box-main {
        width: 100px;
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje2__kolo {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: #FFFFFF;
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center; }
          .Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje2__kolo .Paje2__photo {
            filter: hue-rotate(0); }
          .Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje2__kolo .Paje2__photo:hover {
            filter: hue-rotate(-0.25turn); }
        .Paje2 .Paje2__right .Paje2__box .Paje2__box-main .Paje__text-box {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #777777;
          margin-top: 15px;
          text-align: center; }

.Paje3 {
  width: 100%;
  height: 80vh;
  display: flex; }
  .Paje3 .Paje3__left {
    width: 55%;
    height: 100%;
    padding-top: 120px;
    padding-left: 100px; }
    .Paje3 .Paje3__left .Paje3__titel {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0.035em;
      color: #333333; }
    .Paje3 .Paje3__left .Paje3__description {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: #777777;
      margin-top: 20px; }
    .Paje3 .Paje3__left .Paje3__btn {
      width: 192px;
      height: 48px;
      background: #93C5C2;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      border: none;
      margin-top: 35px;
      transition: 1s; }
    .Paje3 .Paje3__left .Paje3__btn1 {
      width: 100px;
      height: 30px;
      background: #93C5C2;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      border: none; }
    .Paje3 .Paje3__left .Paje3__btn1:hover {
      background-color: #FFA552;
      transition: 0.2s; }
    .Paje3 .Paje3__left .Paje3__btn:hover {
      background-color: #FFA552;
      transition: 0.2s; }
    .Paje3 .Paje3__left .Paje__textboost2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #777777;
      text-align: center; }
    .Paje3 .Paje3__left .sociable__bootstap {
      display: flex;
      justify-content: center; }
      .Paje3 .Paje3__left .sociable__bootstap .bootstrap__sociable {
        width: 35px;
        height: 35px;
        margin: 10px; }
      .Paje3 .Paje3__left .sociable__bootstap .bootstrap__sociable:hover {
        filter: hue-rotate(190deg);
        transition: 0.5s; }
    .Paje3 .Paje3__left #staticBackdrop {
      margin-top: 120px; }
    .Paje3 .Paje3__left .modal-header h5 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      text-align: center;
      font-family: 'Montserrat';
      font-weight: 300;
      color: #333333; }
    .Paje3 .Paje3__left .Paje3__bootstpaPhone {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #777777;
      text-align: center; }
      .Paje3 .Paje3__left .Paje3__bootstpaPhone span a {
        color: #50C1E1; }
  .Paje3 .Paje3__right {
    width: 45%;
    height: 100%;
    padding-top: 120px;
    display: flex;
    justify-content: flex-end; }
    .Paje3 .Paje3__right .Paje3__box {
      width: 90%;
      height: 90%;
      background: #E8F4F4;
      border-radius: 20px 0px 0px 20px;
      display: flex; }
      .Paje3 .Paje3__right .Paje3__box .Paje3__box-left {
        width: 95%;
        height: 100%; }
        .Paje3 .Paje3__right .Paje3__box .Paje3__box-left .Paje3__bissets {
          position: relative;
          right: 30px;
          top: 50px; }
      .Paje3 .Paje3__right .Paje3__box .Paje3__box-right {
        width: 5%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        position: relative;
        right: 80px; }
        .Paje3 .Paje3__right .Paje3__box .Paje3__box-right .Paje3__buterflu {
          position: relative;
          bottom: 70px;
          right: 50px; }

.Paje4 {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.Paje5 {
  width: 100%;
  height: 100vh;
  background-color: #E8F4F4;
  margin-top: 50px;
  display: flex; }
  .Paje5 .Paje5__left {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    .Paje5 .Paje5__left .left__foorest {
      position: relative;
      left: 55px; }
  .Paje5 .Paje5__upprostred {
    width: 90%;
    height: 100%; }
    .Paje5 .Paje5__upprostred .upprostred__top {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 55px; }
      .Paje5 .Paje5__upprostred .upprostred__top .Paje5__texttitel {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        color: #333333; }
      .Paje5 .Paje5__upprostred .upprostred__top .Paje5__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #333333;
        margin-top: 15px; }
    .Paje5 .Paje5__upprostred .upprostred__boottom {
      width: 100%;
      height: 70%;
      display: flex; }
      .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box {
        width: 33.333%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        padding-top: 70px; }
        .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__boxing {
          width: 100px;
          height: 100px;
          background: #FFFFFF;
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer; }
          .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__boxing .Paje5__imgBoging {
            width: 60px;
            height: 60px; }
        .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__text-littel {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #333333;
          margin-top: 15px; }
        .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__aqulity-box .Paje5__text-aqulity {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #777777;
          margin-top: 10px; }
      .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box {
        width: 33.333%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 80px; }
        .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__boxing {
          width: 100px;
          height: 100px;
          background: #FFFFFF;
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer; }
          .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__boxing .Paje5__imgBoging {
            width: 60px;
            height: 60px; }
        .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__text-littel {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #333333;
          margin-top: 15px; }
        .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__experiense-box .Paje5__text-aqulity {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #777777;
          margin-top: 10px; }
      .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box {
        width: 33.333%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 15px;
        padding-top: 70px; }
        .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__boxing {
          width: 100px;
          height: 100px;
          background: #FFFFFF;
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer; }
          .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__boxing .Paje5__imgBoging {
            width: 60px;
            height: 60px; }
        .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__text-littel {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #333333;
          margin-top: 15px; }
        .Paje5 .Paje5__upprostred .upprostred__boottom .Paje5__recomdend-box .Paje5__text-aqulity {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: #777777;
          margin-top: 10px; }

.Paje5__right {
  width: 5%;
  height: 100%;
  padding-top: 55px;
  display: flex;
  justify-content: flex-end; }
  .Paje5__right .right__list {
    width: 175px;
    height: 226px; }

/*# sourceMappingURL=style.css.map */
