@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
@mixin diss () {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin vh ($vhh: 100vh) {
    width: 100%;
    height:  $vhh;
 }
@mixin bok () {
     width: 50%;
     height: 100%;
}
@mixin big () {
     width: 100%;
     height: 100%;
}
$HeaderColor: #ACC7E8;
$LogoFirst: #50C1E1;
$Btn: #93C5C2;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none ;
    color: #333333
}
.Paje1{
    @include vh(100vh) ;
    .containerr{
        width: 100%;
        height: 100%;
        background-image: url(../img/header/background.png);
        background-size: cover;
        }
        .header{
            width: 100%;
            height: 10vh;
            padding: 0 100px;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            
           
        
         .header__left{
            width: 15%;
            height: 100%;
            display: flex;
            align-items: center;
            .logo{
                width: 100.83px;
                height: 49px;
            }
         }
         .header__upprostred{
            width: 65%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            .header__box{
                display: flex;
                align-items: center;
                margin: 35px;
                .header__kolo{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $HeaderColor;
                }
                .header__text{
                    margin-left: 5px;
                    display: inline-block;
                    position: relative;
                    margin-block: 2px;
                    animation-name: textinda;
                    animation-duration: 4s;
                    animation-iteration-count: 1;
                     
                }
                .header__text::after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: rgb(214, 235, 255);
                    border-radius: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform .25s ease; }
                    .header__text:hover::after {
                    transform: scaleX(1); }
            }
         }
         .header__right{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .header__phone-box{
                display: flex;
                align-items: center;
                .header__phone-img{
                    width: 15px;
                    height: 15px;
                }
                .text__header-phone{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    position: relative;
                    top: 8px;
                    left: 5px;
                    color: #333333;
                }
            }
         }
        }
        .konec{
            width: 100%;
            height: 20vh;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 25px;
            .scrll-down{
                transform: translate(-50%);
            .konec__mouse{
                width: 1.2rem;
                height: 2.5rem;
                border: 2px solid #333333;
                border-radius: 1rem;
                display: flex;
                span{
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: #333333;
                    display: block;
                    border-radius: 50%;
                    margin: auto;
                    animation: mouse .8s linear infinite ;
                    @keyframes mouse {
                        0%{
                            opacity: 0;
                            transform: translateY(-0.5rem);
                        }
                        100%{
                            opacity: 1;
                            transform: translateY(0.5rem);
                        }
                    }
                }
            }
        }
        }
        .main{
            width: 100%;
            height: 70vh;
            display: flex;
            .left__main{
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .Left__main-Leaf{
                    margin-top: 10em;
                    margin-right: 5em;
                    animation-name: LeaftLeaf;
                    animation-duration: 13s;
                    animation-iteration-count: 1;
                    margin-left: 20px;
                    // @keyframes LeaftLeaf {
                    //     0%{
                    //         margin-bottom: 15em;
                    //         margin-right: 10em;
                    //         transform: rotate(10deg);

                    //     }
                    //     100%{
                    //         margin-top: 35em;
                    //         margin-left: 100em;
                    //         transform: rotate(120deg);
                    //     }
                    // }
                }
            }
            .upprostred__main{
                width: 60%;
                height: 100%;
                @include diss();
                .text__main{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 44px;
                    letter-spacing: 0.045em;
                    color: #333333;

                }
            }
            .right__main{
                width: 20%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .Right__main-Laeftop{
                    width: 55px;
                    height: 50px;
                }
                .Right__main-Laeftbottom{
                    width: 55px;
                    height: 50px;
                }
            }
        }
        }
    
.Paje2{
    width: 100%;
    height: 80vh;
    display: flex;
    .Paje2__left{
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Paje2__right{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 21.5%;
        padding-top: 120px;
        .Paje2__titel{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            color: #333333;
        }
        .Paje2__description{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 29px;
            text-align: center;
            color: #777777;
            margin-top: 20px;
        }
        .Paje2__box{
            width: 100%;
            height:  139px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .Paje2__box-main{
            width: 100px;
            height: 140px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .Paje2__kolo{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #FFFFFF;
                box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                .Paje2__photo{
                    filter: hue-rotate(0);
                }
                  .Paje2__photo:hover{
                    filter: hue-rotate(-0.25turn);
                }
            }
            .Paje__text-box{
                font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #777777;
                    margin-top: 15px;
                    text-align: center;
            }
            }
        }
    }
    
}


