@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #333333; }

.Paje1 {
  width: 100%;
  height: 10vh; }
  .Paje1 .containerr {
    width: 100%;
    height: 100%;
    background-image: url(../img/Paje1/header/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; }
  .Paje1 .header {
    width: 100%;
    height: 10vh;
    padding: 0 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between; }
    .Paje1 .header .header__left {
      width: 15%;
      height: 100%;
      display: flex;
      align-items: center; }
      .Paje1 .header .header__left .logo {
        width: 100.83px;
        height: 49px; }
    .Paje1 .header .header__upprostred {
      width: 65%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #333333; }
      .Paje1 .header .header__upprostred .header__box {
        display: flex;
        align-items: center;
        margin: 35px; }
        .Paje1 .header .header__upprostred .header__box .header__kolo {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #ACC7E8; }
        .Paje1 .header .header__upprostred .header__box .header__kolo:hover {
          filter: hue-rotate(-0.25turn); }
        .Paje1 .header .header__upprostred .header__box .header__text {
          margin-left: 5px;
          display: inline-block;
          position: relative;
          margin-block: 2px;
          animation-name: textinda;
          animation-duration: 4s;
          animation-iteration-count: 1; }
        .Paje1 .header .header__upprostred .header__box .header__text::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: #d6ebff;
          border-radius: 4px;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform .25s ease; }
        .Paje1 .header .header__upprostred .header__box .header__text:hover::after {
          transform: scaleX(1); }
    .Paje1 .header .header__right {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .Paje1 .header .header__right .header__phone-box {
        display: flex;
        align-items: center; }
        .Paje1 .header .header__right .header__phone-box .header__phone-img {
          width: 15px;
          height: 15px; }
        .Paje1 .header .header__right .header__phone-box .header__phone-img:hover {
          filter: hue-rotate(-0.25turn); }
        .Paje1 .header .header__right .header__phone-box .text__header-phone {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          position: relative;
          top: 8px;
          left: 5px;
          color: #333333; }

.footer__phone {
  display: none; }

.header__phoneBoxPhone {
  display: none; }

.header__text1 {
  position: relative;
  top: 10px; }

.header__box {
  display: flex;
  align-items: center;
  margin: 35px; }

.header__kolo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ACC7E8; }

.header__text {
  margin-left: 5px;
  display: inline-block;
  position: relative;
  margin-block: 2px;
  animation-name: textinda;
  animation-duration: 4s;
  animation-iteration-count: 1;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333; }

.Menu__bootstrap {
  display: none;
  position: relative;
  bottom: 2px;
  margin-left: 10px;
  width: 35px;
  height: 35px; }

.header__text1 {
  display: none; }

.btn-close {
  position: relative;
  bottom: 100px; }

.offcanvas {
  width: 500px; }

.Paje2 {
  width: 100%;
  height: 35vh;
  background-color: #F8F8F8;
  margin-top: 40px;
  padding-left: 100px;
  padding-right: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .Paje2 :first-child {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #ACC7E8; }
    .Paje2 :first-child .Paje2__textTitel {
      font-size: 14px;
      line-height: 17px;
      color: #777777; }
  .Paje2 h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #333333;
    margin-top: 30px; }
  .Paje2 .Paje2__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-top: 20px; }

.Paje3 {
  width: 100%;
  height: 5vh;
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px; }
  .Paje3 .Paje3__leaf-left {
    position: relative;
    top: 5px; }
  .Paje3 .Paje3__leaf-right {
    position: relative;
    top: 100px; }

.Paje4 {
  width: 100%;
  min-height: 150vh;
  display: flex;
  background-color: #F8F8F8; }
  .Paje4 .left__box {
    width: 73%;
    display: flex; }
    .Paje4 .left__box .Catalog__box-big1 {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 100px; }
      .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName:hover {
        background-color: #F4FBFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.32);
        border-radius: 20px;
        transition: 0.6s; }
      .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName {
        width: 355px;
        height: 435px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 50px;
        cursor: pointer;
        transition: 1s; }
        .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName .boxName__wer {
          width: 100%;
          height: 60%;
          display: flex;
          justify-content: center;
          padding-top: 15px; }
        .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName .boxName__nic {
          width: 100%;
          height: 40%;
          padding-left: 20px;
          padding-top: 15px;
          padding-right: 42px; }
          .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName .boxName__nic .boxName__textTitel {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #3F4447; }
          .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName .boxName__nic .boxName__textDescription {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #333333; }
    .Paje4 .left__box .Catalog__box-big {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .Paje4 .left__box .Catalog__box-big .Catalog__boxName:hover {
        background-color: #F4FBFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.32);
        border-radius: 20px;
        transition: 0.6s; }
      .Paje4 .left__box .Catalog__box-big .Catalog__boxName {
        width: 355px;
        height: 435px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 50px;
        cursor: pointer;
        transition: 1s; }
        .Paje4 .left__box .Catalog__box-big .Catalog__boxName .boxName__wer {
          width: 100%;
          height: 60%;
          display: flex;
          justify-content: center;
          padding-top: 15px; }
        .Paje4 .left__box .Catalog__box-big .Catalog__boxName .boxName__nic {
          width: 100%;
          height: 40%;
          padding-left: 20px;
          padding-top: 15px;
          padding-right: 42px; }
          .Paje4 .left__box .Catalog__box-big .Catalog__boxName .boxName__nic .boxName__textTitel {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #3F4447; }
          .Paje4 .left__box .Catalog__box-big .Catalog__boxName .boxName__nic .boxName__textDescription {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #333333; }
  .Paje4 .rigth__box {
    width: 37%; }
    .Paje4 .rigth__box .Catalog__box-big3 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 100px; }
      .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName:hover {
        background-color: #F4FBFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.32);
        border-radius: 20px;
        transition: 0.6s; }
      .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName {
        width: 355px;
        height: 435px;
        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-top: 50px;
        cursor: pointer;
        transition: 1s; }
        .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__wer {
          width: 100%;
          height: 60%;
          display: flex;
          justify-content: center;
          padding-top: 15px; }
          .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__wer .Paje4__virobu-img {
            width: 228px;
            height: 172.33px;
            position: relative;
            top: 40px; }
        .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__nic {
          width: 100%;
          height: 40%;
          padding-left: 20px;
          padding-top: 15px;
          padding-right: 42px; }
          .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__nic .boxName__textTitel {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #3F4447; }
          .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__nic .boxName__textDescription {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #333333; }

footer {
  width: 100%;
  height: 35vh;
  background-color: #E8F4F4;
  display: flex; }
  footer .foooter__leaft {
    width: 25%;
    height: 100%;
    padding-top: 50px;
    padding-left: 120px; }
    footer .foooter__leaft .left__sociable-box {
      width: 150px;
      height: 40px;
      display: flex;
      align-items: center;
      margin-top: 35px; }
      footer .foooter__leaft .left__sociable-box .sociable__keyframe:hover {
        filter: hue-rotate(190deg);
        transition: 0.5s; }
      footer .foooter__leaft .left__sociable-box .footer__sociable-instagram {
        margin-left: 15px; }
  footer .footer__contact-info {
    width: 25%;
    height: 100%;
    padding-top: 50px; }
    footer .footer__contact-info .contact__decription {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #333333; }
    footer .footer__contact-info .contact__box-location {
      width: 403px;
      height: 30px;
      display: flex;
      align-items: center;
      margin-top: 20px; }
      footer .footer__contact-info .contact__box-location .footer__phonetext {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #777777;
        margin-left: 5px;
        display: inline-block;
        position: relative;
        margin-block: 2px;
        cursor: pointer; }
      footer .footer__contact-info .contact__box-location .footer__phonetext::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: rgba(209, 209, 209, 0.6);
        border-radius: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .30s ease; }
      footer .footer__contact-info .contact__box-location .footer__phonetext:hover::after {
        transform: scaleX(1); }
    footer .footer__contact-info .contact__box {
      width: 200px;
      height: 30px;
      display: flex;
      align-items: center;
      margin-top: 25px; }
      footer .footer__contact-info .contact__box .footer__phonetext {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #777777;
        margin-left: 5px;
        display: inline-block;
        position: relative;
        margin-block: 2px;
        cursor: pointer; }
      footer .footer__contact-info .contact__box .footer__phonetext::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: rgba(209, 209, 209, 0.6);
        border-radius: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .30s ease; }
      footer .footer__contact-info .contact__box .footer__phonetext:hover::after {
        transform: scaleX(1); }
  footer .footer__center {
    width: 25%;
    height: 100%;
    padding-top: 35px;
    padding-left: 70px; }
    footer .footer__center .center__site-box {
      display: flex;
      align-items: center;
      margin-top: 10px; }
      footer .footer__center .center__site-box .footer__kolo {
        width: 18px;
        height: 18px;
        background: #ACC7E8;
        border-radius: 50%; }
      footer .footer__center .center__site-box .site__box-compani {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #333333;
        margin-left: 5px;
        position: relative;
        top: 7px; }
  footer .footer__right {
    width: 20%;
    height: 100%;
    padding-top: 50px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    footer .footer__right .Paje__textboost2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #777777;
      text-align: center; }
    footer .footer__right .Paje3__btn1 {
      width: 100px;
      height: 30px;
      background: #93C5C2;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      border: none; }
    footer .footer__right .Paje3__btn1:hover {
      background-color: #FFA552;
      transition: 0.2s; }
    footer .footer__right .sociable__bootstap {
      display: flex;
      justify-content: center; }
      footer .footer__right .sociable__bootstap .bootstrap__sociable {
        width: 35px;
        height: 35px;
        margin: 10px; }
      footer .footer__right .sociable__bootstap .bootstrap__sociable:hover {
        filter: hue-rotate(190deg);
        transition: 0.5s; }
    footer .footer__right #staticBackdrop {
      margin-top: 120px; }
    footer .footer__right .modal-header h5 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      text-align: center;
      font-family: 'Montserrat';
      font-weight: 300;
      color: #333333; }
    footer .footer__right .Paje3__bootstpaPhone {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #777777;
      text-align: center; }
      footer .footer__right .Paje3__bootstpaPhone span a {
        color: #50C1E1; }
    footer .footer__right .footer__btn {
      width: 148px;
      height: 41px;
      background: #93C5C2;
      border-radius: 20px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
      transition: 1s; }
    footer .footer__right .footer__btn:hover {
      background-color: #FFA552;
      transition: 0.4s; }
    footer .footer__right .right__text-contact {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      text-align: right;
      color: #777777;
      margin-top: 20px; }
  footer .footer__buterflue {
    width: 5%;
    height: 100%; }
    footer .footer__buterflue .footer__buterfluuue {
      position: relative;
      right: 30px;
      bottom: 35px; }

.footer__phone {
  width: 100%;
  height: 55vh;
  background-color: #E8F4F4; }
  .footer__phone .footer__wer {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px; }
  .footer__phone .footer__konec {
    width: 100%;
    height: 70%;
    display: flex; }
    .footer__phone .footer__konec .right__konec {
      width: 20%;
      height: 100%;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 100px; }
      .footer__phone .footer__konec .right__konec .modal-footer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: calc(0.3rem - 1px);
        border-bottom-left-radius: calc(0.3rem - 1px); }
        .footer__phone .footer__konec .right__konec .modal-footer .Paje3 .Paje3__left .Paje3__btn {
          width: 192px;
          height: 48px;
          background: #93C5C2;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          border: none;
          margin-top: 35px;
          transition: 1s;
          z-index: 5; }
        .footer__phone .footer__konec .right__konec .modal-footer .Paje3 .Paje3__left .Paje3__btn1 {
          width: 100px;
          height: 30px;
          background: #93C5C2;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          border: none; }
        .footer__phone .footer__konec .right__konec .modal-footer .Paje3 .Paje3__left .Paje3__btn1:hover {
          background-color: #FFA552;
          transition: 0.2s; }
        .footer__phone .footer__konec .right__konec .modal-footer .Paje3 .Paje3__left .Paje3__btn:hover {
          background-color: #FFA552;
          transition: 0.2s; }
      .footer__phone .footer__konec .right__konec .left__sociable-box1 {
        display: flex;
        align-items: center;
        margin-top: 35px; }
        .footer__phone .footer__konec .right__konec .left__sociable-box1 .footer__sociable-instagram {
          margin-left: 15px; }
        .footer__phone .footer__konec .right__konec .left__sociable-box1 .sociable__keyframe22 {
          width: 35px;
          height: 35px; }
        .footer__phone .footer__konec .right__konec .left__sociable-box1 .Paje3__btn1 {
          width: 100px;
          height: 30px;
          background: #93C5C2;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          border: none; }
        .footer__phone .footer__konec .right__konec .left__sociable-box1 .Paje3__btn1:hover {
          background-color: #FFA552;
          transition: 0.2s; }
      .footer__phone .footer__konec .right__konec .footer__btn {
        width: 148px;
        height: 41px;
        background: #93C5C2;
        border-radius: 20px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        transition: 1s; }
      .footer__phone .footer__konec .right__konec .footer__btn:hover {
        background-color: #FFA552;
        transition: 0.4s; }
      .footer__phone .footer__konec .right__konec .right__text-contact {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        text-align: right;
        color: #777777;
        margin-top: 20px; }
    .footer__phone .footer__konec .center__konec {
      width: 40%;
      height: 100%;
      padding-top: 40px;
      padding-left: 60px; }
      .footer__phone .footer__konec .center__konec .center__site-box {
        display: flex;
        align-items: center;
        margin-top: 10px; }
        .footer__phone .footer__konec .center__konec .center__site-box .footer__kolo {
          width: 18px;
          height: 18px;
          background: #ACC7E8;
          border-radius: 50%; }
        .footer__phone .footer__konec .center__konec .center__site-box .site__box-compani {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #333333;
          margin-left: 5px;
          position: relative;
          top: 7px; }
    .footer__phone .footer__konec .leaft__konec {
      width: 40%;
      height: 100%;
      padding-left: 100px;
      padding-top: 60px; }
      .footer__phone .footer__konec .leaft__konec .contact__decription {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #333333; }
      .footer__phone .footer__konec .leaft__konec .contact__box-location {
        width: 403px;
        height: 30px;
        display: flex;
        align-items: center;
        margin-top: 20px; }
        .footer__phone .footer__konec .leaft__konec .contact__box-location .footer__phonetext {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #777777;
          margin-left: 5px;
          display: inline-block;
          position: relative;
          margin-block: 2px;
          cursor: pointer; }
        .footer__phone .footer__konec .leaft__konec .contact__box-location .footer__phonetext::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: rgba(209, 209, 209, 0.6);
          border-radius: 4px;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform .30s ease; }
        .footer__phone .footer__konec .leaft__konec .contact__box-location .footer__phonetext:hover::after {
          transform: scaleX(1); }
      .footer__phone .footer__konec .leaft__konec .contact__box {
        width: 200px;
        height: 30px;
        display: flex;
        align-items: center;
        margin-top: 25px; }
        .footer__phone .footer__konec .leaft__konec .contact__box .footer__phonetext {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #777777;
          margin-left: 5px;
          display: inline-block;
          position: relative;
          margin-block: 2px;
          cursor: pointer; }
        .footer__phone .footer__konec .leaft__konec .contact__box .footer__phonetext::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: rgba(209, 209, 209, 0.6);
          border-radius: 4px;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform .30s ease; }
        .footer__phone .footer__konec .leaft__konec .contact__box .footer__phonetext:hover::after {
          transform: scaleX(1); }

@media screen and (max-width: 1350px) {
  .Paje1 .containerr .main .upprostred__main .text__main {
    font-size: 30px; }

  footer .foooter__leaft {
    width: 20%;
    padding-left: 100px; }

  footer .footer__center {
    width: 30%;
    padding-left: 100px; }

  footer .footer__contact-info {
    padding-left: 30px; }

  .Paje2 {
    padding-top: 30px;
    padding-right: 100px; }

  .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName {
    width: 320px; }

  .Paje4 .left__box .Catalog__box-big .Catalog__boxName {
    width: 320px; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName {
    width: 320px; } }
@media screen and (max-width: 1300px) {
  footer .foooter__leaft .left__sociable-box .sociable__keyframe {
    width: 30px;
    height: 30px; }

  footer .foooter__leaft .left__sociable-box {
    margin-top: 20px; }

  footer .footer__contact-info .contact__decription {
    font-size: 18px; }

  footer .footer__contact-info .contact__box-location .footer__phonetext {
    font-size: 16px; }

  footer .footer__contact-info .contact__box .footer__phonetext {
    font-size: 16px; }

  footer .footer__center .center__site-box .site__box-compani {
    font-size: 18px; } }
@media screen and (max-width: 1250px) {
  .Paje1 .containerr .header .header__upprostred .header__box .header__text {
    font-size: 14px; }

  .Paje4 {
    min-height: 160vh; }

  .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName {
    width: 275px;
    height: 435px; }

  .Paje4 .left__box .Catalog__box-big .Catalog__boxName {
    width: 275px;
    height: 435px; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName {
    width: 275px;
    height: 435px; }

  .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName .boxName__nic .boxName__textTitel {
    font-size: 22px; }

  .Paje4__virobu-img {
    height: 220px; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__wer .Paje4__virobu-img {
    position: relative;
    top: 30px; }

  .Paje4 .left__box .Catalog__box-big .Catalog__boxName .boxName__nic {
    padding-top: 0px; }

  .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName .boxName__nic {
    padding-top: 0px; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__nic {
    padding-top: 0px; }

  #staticBackdrop {
    position: relative;
    left: 200px;
    background-color: red; } }
@media screen and (max-width: 1150px) {
  footer {
    display: none; }

  .footer__phone {
    display: flex;
    flex-direction: column; }

  .Paje1 .containerr .header {
    padding: 0 65px; }

  .Paje2 {
    padding-left: 80px;
    padding-right: 80px; }

  .Paje4 .left__box .Catalog__box-big1 {
    padding-left: 80px; }

  .Paje4 .rigth__box .Catalog__box-big3 {
    padding-right: 80px; } }
@media screen and (max-width: 1120px) {
  .Paje1 .containerr .main .upprostred__main .text__main {
    font-size: 28px; } }
@media screen and (max-width: 1080px) {
  .Paje1 .containerr .main .upprostred__main {
    width: 80%; }

  .Paje1 .containerr .header .header__right .header__phone-box .text__header-phone {
    font-size: 14px; }

  .Paje1 .containerr .header {
    padding: 0 35px; }

  .footer__konec {
    display: flex;
    flex-direction: column; }

  .footer__phone .footer__konec .right__konec {
    width: 100%;
    height: 30%;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center; }

  .footer__phone .footer__konec .center__konec {
    width: 100%;
    height: 40%;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .footer__phone .footer__konec .leaft__konec {
    width: 100%;
    height: 30%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .footer__phone {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .footer__phone .footer__konec .leaft__konec .contact__decription {
    text-align: center; }

  .footer__phone .footer__konec .leaft__konec .contact__box {
    display: flex;
    justify-content: center; }

  .footer__contact-info {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .footer__phone .footer__konec .leaft__konec .contact__box-location {
    display: flex;
    align-items: center;
    position: relative;
    left: 25px; }

  .footer__phone .footer__wer {
    padding-top: 30px;
    height: 20%; }

  .footer__phone .footer__konec {
    height: 80%; }

  .Paje2 {
    padding-left: 40px;
    padding-right: 40px; }

  .Paje4 .left__box .Catalog__box-big1 {
    padding-left: 40px; }

  .Paje4 .rigth__box .Catalog__box-big3 {
    padding-right: 40px; } }
@media screen and (max-width: 1010px) {
  .Paje1 .containerr .main .left__main .Left__main-Leaf {
    width: 50px;
    height: 48px; }

  .Paje1 .containerr .main .right__main .Right__main-Laeftop {
    width: 48px;
    height: 46px; }

  .Paje1 .containerr .header .header__upprostred {
    width: 80%; }

  .Paje4 {
    display: flex;
    flex-direction: column; }

  .Paje4 .rigth__box {
    width: 100%; }

  .Paje4 .rigth__box .Catalog__box-big3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px; }

  .Paje4 .left__box {
    width: 100%; }

  .Paje4 .left__box .Catalog__box-big1 {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px; }

  .Paje4 .left__box .Catalog__box-big {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName {
    margin: 40px; } }
@media screen and (max-width: 960px) {
  .Menu__bootstrap {
    display: flex;
    flex-direction: column; }

  .Paje1 .containerr .header .header__upprostred {
    width: 40%; }

  .Paje1 .containerr .header .header__upprostred .header__box {
    display: none; }

  .header__text1 {
    display: flex; }

  .Paje1 .containerr .header .header__left {
    width: 20%; }

  .Paje1 .containerr .header .header__right {
    width: 40%;
    display: flex;
    justify-content: space-around; } }
@media screen and (max-width: 930px) {
  .Paje1 .containerr .main .upprostred__main {
    width: 70%; }

  .Paje1 .containerr .main .left__main {
    width: 15%;
    display: flex;
    justify-content: flex-end; }

  .Paje1 .containerr .main .right__main {
    width: 15%; }

  .header__logoglogo {
    width: 90px;
    height: 45px; }

  .Paje3 {
    display: none; } }
@media screen and (max-width: 890px) {
  .Paje1 .containerr .main .upprostred__main {
    width: 100%; }

  .Paje1 .containerr .main .left__main {
    display: none; }

  .Paje1 .containerr .main .right__main {
    display: none; }

  .Paje2 :first-child {
    font-size: 14px; }

  .Paje2 :first-child .Paje2__textTitel {
    font-size: 12px; }

  .Paje2 h2 {
    font-size: 30px;
    margin-top: 15px; }

  .Paje2 .Paje2__description {
    font-size: 16px;
    margin-top: 10px; }

  .Paje2 {
    padding-right: 70px; } }
@media screen and (max-width: 790px) {
  .offcanvas {
    width: 400px; }

  .header__text1 {
    display: none; }

  .Paje4 .left__box .Catalog__box-big1 {
    padding-right: 20px; }

  .Paje4 .left__box .Catalog__box-big {
    padding-left: 20px; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName {
    margin: 20px; } }
@media screen and (max-width: 730px) {
  .Paje1 .containerr .main .upprostred__main .text__main {
    font-size: 24px; }

  .footer__phone .footer__konec .leaft__konec .contact__decription {
    font-size: 18px; }

  .footer__phone .footer__konec .leaft__konec .contact__box .footer__phonetext {
    font-size: 16px; }

  .footer__phone .footer__konec .leaft__konec .contact__box-location .footer__phonetext {
    font-size: 16px; }

  .footer__phone .footer__konec .center__konec .center__site-box .site__box-compani {
    font-size: 16px; }

  .Paje4 .left__box {
    display: flex;
    flex-direction: column; }

  .Paje4 .left__box .Catalog__box-big1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px; }

  .Paje4 .left__box .Catalog__box-big {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px; }

  .Paje4 .rigth__box .Catalog__box-big3 {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName {
    margin-top: 50px; } }
@media screen and (max-width: 640px) {
  .Paje1 .containerr .main .upprostred__main .text__main {
    font-size: 22px; }

  .header__logoglogo {
    width: 90px;
    height: 45px; }

  .Menu__bootstrap {
    width: 35px;
    height: 35px; }

  .offcanvas {
    width: 320px; }

  .header__box {
    margin: 0px; }

  .header__text {
    font-size: 12px; }

  .header__phoneBoxPhone {
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid #ACC7E8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    animation-name: phone;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

  .header__phoneBoxPhoneimg {
    width: 15px;
    height: 15px;
    animation-name: phone1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

  .header__phone-img {
    display: none; }

  .text__header-phone {
    display: none; }

  .Paje1 .containerr .header .header__right {
    display: flex;
    justify-content: flex-end; }

  .scrll-down {
    display: none; }

  .Paje2 {
    height: 40vh; } }
@media screen and (max-width: 560px) {
  .Paje1 .containerr .main .upprostred__main .text__main {
    font-size: 20px; }

  .footer__phone .footer__konec .center__konec {
    padding-top: 1px; }

  .footer__phone .footer__konec .right__konec {
    padding-top: 1px; }

  .footer__phone {
    height: 100vh; }

  .footer__phone .footer__konec .leaft__konec .contact__box-location {
    display: none; }

  .footer__phone .footer__konec .leaft__konec {
    height: 25%; }

  .Paje2 :first-child {
    font-size: 14px; }

  .Paje2 :first-child .Paje2__textTitel {
    font-size: 10px; }

  .Paje2 h2 {
    font-size: 24px;
    margin-top: 0px; }

  .Paje2 .Paje2__description {
    font-size: 14px;
    margin-top: 0px; }

  .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName {
    width: 255px;
    height: 405px; }

  .Paje4 .left__box .Catalog__box-big .Catalog__boxName {
    width: 255px;
    height: 405px; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName {
    width: 255px;
    height: 405px; }

  .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName .boxName__nic .boxName__textTitel {
    font-size: 20px; }

  .Paje4__virobu-img {
    height: 200px; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__wer .Paje4__virobu-img {
    width: 193px;
    height: 156px;
    position: relative;
    top: 30px; }

  .Paje4 .left__box .Catalog__box-big .Catalog__boxName .boxName__wer {
    height: 55%; }

  .Paje4 .left__box .Catalog__box-big .Catalog__boxName .boxName__nic {
    height: 55%; }

  .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName .boxName__wer {
    height: 55%; }

  .Paje4 .left__box .Catalog__box-big1 .Catalog__boxName .boxName__nic {
    height: 55%; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__wer {
    height: 55%; }

  .Paje4 .rigth__box .Catalog__box-big3 .Catalog__boxName .boxName__nic {
    height: 55%; } }
@media screen and (max-width: 430px) {
  .Paje1 .containerr .main .upprostred__main .text__main {
    font-size: 16px; }

  .offcanvas {
    width: 100%; }

  .header__kolo {
    display: none; }

  .header__text {
    font-size: 24px;
    text-align: center;
    margin: 30px; }

  .offcanvas-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50%;
    padding-left: 5%; }

  .btn-close {
    position: relative;
    bottom: 200px; }

  .Paje2 {
    padding-right: 35px; }

  .Paje2 {
    height: 45vh; }

  footer .footer__right #staticBackdrop {
    width: 350px;
    margin-left: 30px;
    margin-top: 200px; } }
@media screen and (max-width: 400px) {
  .Paje2 {
    height: 45vh; } }
@media screen and (max-width: 360px) {
  footer .footer__right #staticBackdrop {
    width: 330px;
    margin-left: 15px;
    margin-top: 180px; }

  .Paje1 .containerr .main .upprostred__main .text__main {
    font-size: 14px; }

  .header__text::after {
    display: none; }

  .header__text:hover {
    filter: blur(1px); } }
.header__text::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #d6ebff;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease; }

.header__text:hover::after {
  transform: scaleX(1); }

a {
  text-decoration: none; }

@keyframes phone {
  0% {
    position: relative;
    top: 1px;
    filter: hue-rotate(5deg); }
  5% {
    position: relative;
    top: 2px;
    filter: hue-rotate(35deg); }
  10% {
    position: relative;
    bottom: 1px;
    filter: hue-rotate(85deg); }
  15% {
    position: relative;
    bottom: 2px;
    filter: hue-rotate(205deg); }
  100% {
    filter: hue-rotate(360deg); } }
::-webkit-scrollbar {
  width: 14px; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #45adff 0%, #0b74da 100%);
  border-radius: 10px 0px 10px 0px;
  -webkit-border-radius: 10px 0px 10px 0px;
  -moz-border-radius: 10px 0px 10px 0px;
  -ms-border-radius: 10px 0px 10px 0px;
  -o-border-radius: 10px 0px 10px 0px; }

::-webkit-scrollbar-thumb:hover {
  background: #0f4fae; }

/*# sourceMappingURL=style.css.map */
